* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header {
	position: fixed;
	width: 100%;
	top: 0px;
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #c1121f;
	background-color: white;
}

header > img {
	height: 130px;
	width: 300px;
	margin-left: 20px;
}


nav {
	display: flex;
	font-size: 1.2rem;
	width: 500px;
	justify-content: space-around;
	align-items: center;
	margin-right: 20px;
}

nav a {
	text-decoration: none;
	color: #c1121f;
}

nav a:hover {
	text-decoration: underline;
}

