
header {
	position: fixed;
    display: flex;
    top: 0px;
	width: 100%;
	justify-content: space-between;
	border-bottom: 3px solid #c1121f;
	background-color: white;
}

header > img {
	height: 130px;
	width: 300px;
	margin-left: 20px;
}


nav {
	display: flex;
	font-size: 1.2rem;
	width: 500px;
	justify-content: space-around;
	align-items: center;
	margin-right: 20px;
}

nav a {
	text-decoration: none;
	color: #c1121f;
}

nav a:hover {
	text-decoration: underline;
}

body {
	font-size: 1.3rem;
	font-family: 'Montserrat', sans-serif;
	background-color: #fdf0d5;
}

#content {
	margin: 133px auto 0 auto;
	width: 100%;
	max-width: 1000px;
}

.form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 200px;
}
input[type='text'], input[type='email'] {
	width: 98%;
	margin-top: 20px;
	padding: 8px 4px;
	font-family: inherit;
}
input[type='submit'] {
	width: 100%;
	padding: 8px;
	margin-top: 20px;
	background-color: #d40a0a;
	color: white;
	border-radius: 5px;
	border: none;
   

}
input[type='submit']:hover {
	background-color: green;
	cursor: pointer;
   
}

#About {
margin: 50px auto 50px auto;
padding-top: 100px;
display: flex;
flex-direction: column;
width: 65vw;
align-items: center;
justify-content: space-evenly;
text-align: center;
border-bottom: 3px solid #c1121f;
}

.article {
	margin-bottom: 30px;
}

.article h3 {
	margin-bottom: 15px;
}

.article p {
	font-size: 0.8em;
}
